.error-page {
  background: url("./assets/background.jpg") center no-repeat;
  height: 100vh;
  background-size:contain;
}

.jumbotron {
  background: #ffffff70;
}

.go-home {
  font-size: 1.2rem;
  font-weight: 900;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}