.searchbar {
  border-radius: 9px;
  width:95%;
  margin:auto;
}

.search {
  padding: 1rem;
}

.search-dropdown {
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  outline:none;
  height: 100%;
}

.search-btn {
  color: #333;
  padding: 1rem 0;
  width: 100%;
}
.search-input {
  width: 100%;
}
