.landing {
  height: 100vh;
}
.app-landing-aside {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2) no-repeat;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("./assets/login_image.svg");
  background-size: cover;
}
.app-landing-loginForm {
  padding: 6rem 0;
  overflow: auto;
}

.app-name__landing-page {
  font-weight: 600;
  letter-spacing: 0.3em;
}
.subheading {
  color: #999999;
}
