.search-container {
  padding: 1.5rem 3rem;
  background-color: #ffffff;
  margin: 1.5rem 3rem;
  border: 2px solid #eeee;
  border-radius: 8px;
}
.select-box__list {
  width: 100%;
  padding: 0;
  list-style: none;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
label {
  margin-bottom: 0;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

.selected {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #eee;
  font-weight: bold;
}