@import '~pretty-checkbox/src/pretty-checkbox.scss';

$boxShadow: 2px 3px 20px 10px #b7b7b71f;
$primaryBackground: #43425c;

* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: "Avenir LT Std", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

input, select, textarea,  button {
  border: none;
}
textarea {
  box-shadow: $boxShadow;
}
.form-control:focus {
  box-shadow: none;
  border:none;
}

.action-btn {
  padding: 0.5rem 2rem;
  border: none;
}

.btn-primary:hover {
  background: #100d4e;
}

.grid-card {
  width: 100%;
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
}

.add-shadow {
  box-shadow: $boxShadow;
}

.add-bg {
  background: $primaryBackground;
}

.clear-bg {
  background: #ffffff;
}

.page-link {
  color: $primaryBackground;
}

.page-item.active {
  .page-link {
    background: $primaryBackground;
    border: 1px solid $primaryBackground;
  }
}

.breadcrumb {
  background: none;
}

 .nav-pills .nav-link.active, .nav-pills .show > .nav-link  {
  color: $primaryBackground;
  background-color: #fff;
  border-bottom: 2px solid $primaryBackground;
  border-radius: 0;
}

textarea.form-control {
  border: none;
  resize: none;
}